<div class="test-chart">
  {{#ui-d3-chart model responsive=false as |chart|}}
    {{chart.axis scale="band" position="bottom"}}
    {{chart.axis scale="linear" position="left"}}
    {{chart.area xScale="band" yScale="linear"}}
    {{chart.line xScale="band" yScale="linear" curve="CatmullRom"}}
    <!-- {{chart.rect xScale="band" yScale="linear" type="column" padding=0.6}} -->
    <!-- {{chart.scatter xScale="band" yScale="linear" radius=3}} -->
  {{/ui-d3-chart}}
</div>
